<%#
  Enhanced Shadcn UI Button Component
  Usage: render 'shared/components/shadcn_button', variant: 'primary', size: 'default', text: 'Click me'
%>
<% 
  variant ||= 'primary'
  size ||= 'default'
  disabled ||= false
  type ||= 'button'
  classes ||= ''
  
  base_classes = "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
  
  variant_classes = case variant
  when 'primary', 'default'
    'bg-blue-600 text-white hover:bg-blue-700 shadow'
  when 'destructive'
    'bg-red-600 text-white hover:bg-red-700 shadow-sm'
  when 'outline'
    'border border-gray-300 bg-white hover:bg-gray-50 hover:text-gray-900 dark:border-gray-600 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-gray-100'
  when 'secondary'
    'bg-gray-100 text-gray-900 hover:bg-gray-200 shadow-sm dark:bg-gray-800 dark:text-gray-100 dark:hover:bg-gray-700'
  when 'ghost'
    'hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-gray-800 dark:hover:text-gray-100'
  when 'link'
    'text-blue-600 underline-offset-4 hover:underline dark:text-blue-400'
  else
    'bg-blue-600 text-white hover:bg-blue-700 shadow'
  end
  
  size_classes = case size
  when 'default'
    'h-10 px-4 py-2'
  when 'sm'
    'h-9 rounded-md px-3'
  when 'lg'
    'h-11 rounded-md px-8'
  when 'icon'
    'h-10 w-10'
  else
    'h-10 px-4 py-2'
  end
  
  all_classes = "#{base_classes} #{variant_classes} #{size_classes} #{classes}"
%>

<% if defined?(href) && href %>
  <%= link_to href, class: all_classes do %>
    <%= yield %>
  <% end %>
<% else %>
  <button type="<%= type %>" class="<%= all_classes %>" <%= 'disabled' if disabled %>>
    <%= yield %>
  </button>
<% end %>